body {
background: linear-gradient(to top, #808080, #000);
color: #000000;
margin: 0;
padding: 1em;
font: 1em Arial, Helvetica, sans-serif;
}

#tools, #nav {
width: 200px;
}

#tools ul, #nav ul {
list-style: none;
margin: 0;
padding: 0;
}

#tools li button:hover {
background: #87CEEB;
color: #FFFFFF;
}

#nav li button:hover {
background: #35C0CD;
color: #FFFFFF;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 16px;
    top: 486px;
    background-color: #000;
    font-size: 90%;
}

ul.submenu > li {
    display: block;
}

ul.submenu > li > button {
    display: block;
    padding: 10px;
    color: #000;
    background-color: #DCDCDC;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

ul.menu li button {
font-size: 90%;
display: block;
padding: 0.4em 0.4em 0.4em 0.4em;
background-color: #C0C0C0;
background: linear-gradient(to bottom right, #C0C0C0, #A9A9A9);
color: #FFFFFF;
text-decoration: none;
cursor: pointer;
border: 1px solid #333; 
border-radius: 3px; 
}

#nav li button {
font-size: 90%;
display: block;
padding: 0.4em 0.4em 0.4em 0.4em;
background-color: #C0C0C0;
background: linear-gradient(to bottom right, #DCDCDC, #D3D3D3);
color: #FFFFFF;
text-decoration: none;
cursor: pointer;
border: 1px solid #333; 
border-radius: 3px; 
}

canvas {
   max-width: 100%;
   height: auto;
}
